.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, #000000 -20%, rgba(0, 0, 0, 0) 50%, #000000 120%), url(./img/bg-pattern.png);  
  min-height: 100vh;
  min-width: 320px;
  background-color: white;  
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
.App-header {  
  display: flex;    
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  /* font-size: 36px; */
  color: #ffffff;
  font-weight: 250;  
  font-family: 'Exo 2', sans-serif;
  filter: drop-shadow(0px 1px 0.5px #000000);    
}

.Product-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
}
